body.login{
	overflow: hidden;
	background: url(../../img/slide1.jpg) no-repeat center center;
	background-size: cover;
}
body.login div#login {
    background-image: linear-gradient(to bottom, rgba(255,255,255,.3), #062142);
	height: 100%;
	width: 100%;
}
body.login div#login form#loginform{
    width: 320px;
    margin: 0 auto;
}
body.login div#login h1 a {
	background-image: url(../../img/hsLogo.png);
    height: 90px;
	-webkit-background-size: inherit;
	background-size: inherit;
    width: 100%;
}
body.login div#login p#nav,
body.login div#login p#backtoblog {
	display: none;
}
body.login #login_error, 
body.login .message{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border: 0;
}