.blogView
	.hs-blog-blog
		.title
			margin-bottom 90px
		.content
			.item
				margin-bottom 110px
				.img-response
					position relative
					left -30px
					@media (max-width: maxSm)
						left 0
						margin-bottom 20px
				.contenttext
						h1
							font-size 35px
							font-family fontMuseo500
							margin 0
							line-height 45px
						p
							margin 0 0 15px
							font-size 18px
							line-height 24px
							color #666
						time
							color #0768a2
							@media (max-width: maxSm)
								margin-bottom 15px
								display block
.blogSingleView
	.hs-single-artigo
		.title
			margin-bottom 40px
			h1
				font-size 40px
			time
				color #015691
				font-weight 600
		.content
			padding-bottom 40px
			h1,
			h2,
			h3,
			h4,
			h5,
			h6
				font-family fontOpenSans
				font-weight 100
				text-transform uppercase
				font-size 26px
				margin-bottom 30px
				color #333
			p
				color #666
			.destaque
				width 100%
				height auto
	.hs-single-posts-relacionados
		background #f1f5f7
		.title
			margin-bottom 37px
			h1
				color #333
				font-size 35px
		.posts
			.post
				padding-bottom 40px
				&__content
					h1
						margin-top 27px
						margin 16px 0 5px
						//line-height 40px
						//font-size 35px
						font-size 25px
    				line-height 28px
					time
						font-size 13px
						color #006db8
						font-weight 600
					p
		    		font-size 14px
						color #333
					a
						color hsColor_1
						font-family fontOpenSans
						font-weight bold
						font-size 17px
					img
						width 100%
						height auto
