.ciasaereasView
  .hs-ciasaereas-sobre
    .title
    margin-bottom 20px
    .content
      font-size 18px
      color #666
      a
        color #005996
        text-decoration underline
        font-weight bold
  .hs-ciasaereas-marcas
    margin-bottom 100px
    button
      width 450px
      margin 0 auto
      display block
      margin-top 90px
      @media (max-width: maxSm)
        margin-top 30px
        width 100%
        font-size 16px
        height 64px
        padding 22px 0
    .paises
      .pais
        .title
          margin 120px 0 60px
          @media (max-width: maxSm)
            margin 20px 0
          h1
            font-size 45px
            margin 0
            @media (max-width: maxSm)
              font-size titulomobile
          span
            margin-top 7px
            width 110px
            height 5px
            display block
          .au
            background australiaMainColor
          .ca
            background canadaMainColor
          .en
            background inglaterraMainColor
          .eu
            background usaMainColor
        .marcas
          .marca
            width 175px
            height 175px
            outline 1px solid #939393
            margin-right 10px
            margin-bottom 9px
            &:last-child
              margin-right 0
            .h--table
              padding 22px
              box-sizing border-box
              height inherit
              width inherit
              box-sizing border-box
              img
                width 100%
                height auto
