.contatoView
  .hs-contato-formulario
    //background #f1f5f7
    background #fff
    border-bottom 1px solid #ccc
    .title
      margin-bottom 60px
    .content
      iframe
        border 0
        width 100%
      .iframeTrabalho
        height 1800px
      .iframeContato
        height 800px
      p
        color #666
        font-size 16px
    .formulario
      label
        display block
        font-weight 700
        text-transform uppercase
        font-size 15px
        margin-bottom 10px
      .select,
      input[type="text"],
      textarea
        margin-bottom 30px
        width 100%
        border 1px solid #4b4b4b
        border-radius 5px
        font-size 18px
      input[type="text"],
      textarea
        padding 7px 15px 9px
      textarea
        height 152px
      .select
        select
          padding 8px 15px
          appearance none
          -webkit-appearance none
          -moz-appearance none
          width 100%
          border 0
          background transparent
      input[type="submit"]
        display block
        margin 15px auto 60px
  .hs-contato-nossasunidades
    padding-bottom 60px
    .title
      margin 80px 0 50px
      h1
        font-size 50px
      span
        width 172px
        height 5px
    .items
      .item
        margin-bottom 40px
        h2
          color #015691
          font-family fontMuseo500
          font-size 30px
          margin 0
          position relative
          top 5px
        strong
          font-size 17px
          font-weight 600
        p
          font-size 16px
          margin 0
          line-height 25px
