.depoimentosView
	.hs-depoimentos-depoimentos
		.title
			margin-bottom 90px
		.content
			p
				margin 0 0 15px
				//font-size 18px
				//line-height 32px
				color #666
				font-size 16px
				line-height 26px
				strong
					font-size 20px
					color #333

			.item
				margin-bottom 110px
				.img-response
					position relative
					left -30px
					@media (max-width: maxSm)
						left 0
						margin-bottom 30px
				.contenttext
					&-title
						h1
							font-size 23px
							text-transform uppercase
							font-family fontMuseo500
							span
								text-transform none
						&-sub
							color #666
							font-size 18px
							text-transform uppercase
						.bar
							height 3px
							width 175px
							background hsColor_1
							display block
							margin-top 12px
							margin-bottom 32px
						h1
							margin 0
