.destinosView
	.hs-destinos-destinos
		.content
			p
				//font-size 23px
				font-size 16px
				line-height 26px
				@media (max-width: maxSm)
					font-size 18px
					line-height 22px
		.title
			span
				background #015691
		.item
			padding 60px 0
			img
				width 100%
				height auto
				position relative
				left -12px
				@media (max-width: maxSm)
					left 0
					margin-bottom 30px
			.contenttext
				padding-left 50px
				@media (max-width: maxSm)
					padding 0
			button
				//font-size 22px
				letter-spacing 2px
				font-family fontMuseo500
				//min-width 275px
				//height 60px
				color #fff
				margin 0 auto
				display block
				font-size 23px
				padding 17px 0
				line-height 25px
				width 230px
				height 57px
			.australia
				cor1 = #ffc600
				cor2 = #ffd000
				gradiend(cor1,cor2)
			.canada
				cor1 = #ff8200
				cor2 = #ff8e00
				gradiend(cor1,cor2)
			.england
				cor1 = #ed7400
				cor2 = #f38e00
				gradiend(cor1,cor2)
			.usa
				cor1 = #f93032
				cor2 = #fa3334
				gradiend(cor1,cor2)
		.item.gray
			background #f1f5f7
			img
				left 12px
				@media (max-width: maxSm)
					left 0
			.contenttext
				padding-right 40px
				@media (max-width: maxSm)
					padding 0
