.eventosView
	.hs-eventos-eventos
		.title
			margin-bottom 90px
		.content,
		.paginacao-items
			& > .item
				margin-bottom 110px
				.img-response
					position relative
					left -30px
					@media (max-width: maxSm)
						left 0
						margin-bottom 15px
				.data
					width 65px
					float right
					position relative
					right 50px
					@media (max-width: maxSm)
						right 0
						float none
					&,
					*
						display block
						text-align center
					.mes
						font-size 28px
						text-transform uppercase
						padding-bottom 18px
						border-bottom 2px solid #0768a2
						margin-bottom 24px
					.dia
						font-size 55px
						font-family fontMuseo700
				.contenttext
					h1
						font-size 35px
						font-family fontMuseo500
						margin 0
						line-height 45px
						@media (max-width: maxSm)
							line-height 33px
					p
						margin 0 0 15px
						font-size 18px
						line-height 24px
						color #666
					.info
						padding 7px 0
						@media (max-width: maxSm)
							margin 15px 0
							display block
						.item
							display block
							color #0768a2
							font-weight 700
							.val
								font-weight 400
								color #333
.eventosSingleView
	.hs-single-evento
		padding-bottom 80px
		.title
			h1
				font-size 40px
		.content
			padding 0 15px
			*
				color #666
			p
				margin-bottom 30px
				font-size 17px
			strong
				font-weight 700
			h1,
			h2,
			h3,
			h4,
			h5,
			h6
				font-size 18px
				text-transform uppercase
				font-weight 400
				margin 0
				font-family fontOpenSans
		.vitrine
			height 447px
			background #f1f5f7
			color #666
			margin 50px 0 60px
			& > div
				width 50%
				float left
				box-sizing border-box
			.info
				padding 25px 30px
				height 100%
				.base
					font-size 20px
					line-height 34px
					border-bottom 1px solid #d3d3d3
					padding-bottom 40px
					padding 30px 20px 40px
				.address
					color #666
					font-size 18px
					padding 43px 20px
					h1
						font-size 29px
						font-family fontMuseo300
						margin 0
					p
						line-height 35px
						margin 0
						margin-top 5px
			.mapa
				width 100%
				height 447px
				border 0
