.homeView
	.servicosSection
		position relative
		background #f1f5f7
		@media (max-width: maxSm)
			padding-top 200px
		.title
			margin 105px 0 40px
		.content
			//font-size 25px
			font-size 20px
			color #666
			white-space nowrap
			margin-bottom 160px
			@media (max-width: maxSm)
				margin-bottom 0
				white-space initial
				br
					display none
		.icon-pack
			position relative
			top 43px
			@media (max-width: maxSm)
				top 0
				margin-bottom 0px
		.chavesIcon
			position relative
			@media(min-width: minMd) and (max-width: maxMd)
				left 48px
			@media (max-width: maxSm)
				display none
			svg
				height 400px
		.icons
			position relative
			top 20px
			li
				text-align center
				width 32%
				@media (max-width: maxSm)
					width 49%
				span
					display block
					text-transform uppercase
					line-height 28px
					color #333
					margin-top 26px
					margin-bottom 47px
					font-size 23px
					@media(min-width: minMd) and (max-width: maxMd)
						font-size 20px
					@media (max-width: maxSm)
						font-size 16px
						height 46px
						line-height 23px

	.depoimentosSection
		background #fff
		.h--no-scroll
			@media (max-width: maxSm)
				overflow visible
		.title
			margin 73px 0 67px
		.depoimentosDestaqueImage
			position absolute
			bottom 0
			z-index 10
			width auto
			height 620px
			left -120px
			@media (max-width: maxSm)
				display none
		.depoimentosDestaque
			border 1px solid #666
			color #333
			position relative
			font-size 20px
			font-style italic
			padding 100px 125px
			margin-bottom 86px
			@media (max-width: maxSm)
				margin-bottom 36px
				font-size 18px
				padding 35px
			button
				font-style normal
			.blockquote1,
			.blockquote2
				width 74px
				height 66px
				position absolute
				@media (max-width: maxSm)
					width 50px
			.blockquote1
				background url('../../img/blockquote1.png') no-repeat
				left 45px
				top 30px
				@media (max-width: maxSm)
					background-size 100%
					left -5px
					top -10px
			.blockquote2
				background url('../../img/blockquote2.png') no-repeat
				right 67px
				bottom 35px
				@media (max-width: maxSm)
					background-size 100%
					right -5px
					bottom -33px

	.blogSection
		cor1 = #0768a2
		cor2 = #24a2d2
		gradiend(cor1,cor2)
		.title
			margin-bottom 58px
			h1
				color #fff
		.post
			&__content
				margin 0 auto
			&:first-child
				.post__content
					float left
			&:last-child
				.post__content
					float right
			&__content
				width 292px
				margin-bottom 100px
				@media (max-width: maxSm)
					width 100%
					height auto
				&__image
					position relative
					&__bg
						background url('../../img/postBg.png') no-repeat
						width 321px
						height 235px
						position absolute
						z-index 5
						top -15px
						left -17px
						@media (max-width: maxSm)
							background transparent
					img
						width 100%
						height auto
				h1,
				p
					color #fff
					margin 0
				h1
					//font-size 35px
					//line-height 40px
					margin-top 27px
					margin-bottom 5px
					font-size 25px
					line-height 30px
					color #fff
				time
					color hsMainColor
					font-size 13px
				p
					margin 16px 0 14px
					font-size 16px
				a
					color hsColor_1
					font-family fontOpenSans
					font-weight bold
					font-size 17px
