.orcamentodepassagensaereasView
  .hs-orcamentodepassagensaereas-orcamentodepassagensaereas
    .content
      margin-top 60px
      padding 0 60px
      @media (max-width: maxSm)
        padding 0
      iframe
        padding 20px 0
        overflow-x hidden
        width 100%
        border 0
        height 1000px
