.orcamentodecursosView
  .hs-orcamentodecursos-orcamentodecursos
    .hub
      margin-top 66px
      display flex
      position relative
      left -45px
      @media (max-width: maxSm)
        left 0
        display block
      .box.box-enable
        .arrow
          display block
          width auto
          @media (max-width: maxSm)
            display none
      .box-disable
        filter grayscale(100%)
        opacity .6
        .arrow
        width auto
          display none
      .box
        position relative
        margin-right 25px
        cursor pointer
        @media (max-width: maxSm)
          margin-right 0
          img
            width 100%
            height auto
        &:last-child
          margin-right 0
        .titulo
          //
        .arrow
          display none
          position absolute
          bottom -184px
          left 50%
          margin-left -27px
        .bg
          position absolute
          top 0
          left 0
          z-index -10
    .formulario
      padding 0 60px
      @media (max-width: maxSm)
        padding 0
      iframe
        padding 20px 0
        overflow-x hidden
        width 100%
        border 0
        height 1000px
        border-top 2px solid #a6a6a6
    .passagemaerea
      font-size 19px
      text-align center
      margin 60px 0 80px
      a
        text-transform uppercase
        font-weight 700
        color #006db8
        img
          position relative;
          top 11px
          width auto
          left 1px
