.sobreView
	.hs-sobre-servicos
		background #f1f5f7
		.title
			margin-bottom 60px
			span
				background #015691
		.items
			.item
				clear both
				position relative
				left -50px
				padding-right 20px
				display flex
				margin-bottom 52px
				@media (max-width: maxSm)
					left 0
				h1
					font-size 24px
					color #333
					font-family fontOpenSans
					text-transform uppercase
					font-weight 100
					margin-top 0
					line-height 35px
					span
						width 100px
						height 1px
						display block
						background #949696
				p
					font-size 17px
					line-height 20px
					color #666
					margin 0
					font-weight 100
				.icon
					float left
					margin 0 30px
					width 60px
					display flex
					align-items center
					justify-content center
					@media (max-width: maxSm)
						margin-left 0
					svg
						width inherit
					& > div
						flex 1
	.hs-sobre-o-grupo
		padding-bottom 50px
		.quadro
			margin-top 70px
			@media (max-width: maxSm)
				& > img
					display none
	.hs-sobre-nossa-equipe
		cor1 = #0768a2
		cor2 = #24a2d2
		gradiend(cor1,cor2)
		*
			color #fff
		.title
			h1
				color #fff
		.gallery--list
			text-align center
			padding-bottom 53px
			@media (max-width: maxSm)
				overflow hidden
			.item
				width 293px
				margin 0 auto
				@media(min-width: minMd) and (max-width: maxMd)
					width auto
				h2
					font-size 40px
					margin 14px 0 -4px
					@media(min-width: minMd) and (max-width: maxMd)
						font-size 30px
				h3
					font-family fontOpenSans
					font-size 22px
					font-weight 100
					margin 0
					@media(min-width: minMd) and (max-width: maxMd)
						font-size 18px
			.iconprev,
			.iconnext
				@media (max-width: maxSm)
					z-index 2
			.iconprev
				left -40px
				@media (max-width: maxSm)
					left 0
			.iconnext
				right -40px
				@media (max-width: maxSm)
					right 0

	.hs-sobre-parceiros
		padding-bottom 50px
		.title
			span
				background #015691
		.gallery
			text-align center
			.item
				margin-bottom 38px
				margin-left 10px
				margin-right 10px
				display inline-block
