.outrospaises .banner__box .australia
	display none

.hegeral
	.homehaView .banner
		background heMainColor 
	.outrospaises .banner__box
		.inglaterra
			display none
		.australia
			display block

.hugeral
	.homehaView .banner
		background huMainColor 
	.outrospaises .banner__box
		.usa
			display none
		.australia
			display block

.hcgeral
	.homehaView .banner
		background hcMainColor 
	.outrospaises .banner__box
		.canada
			display none
		.australia
			display block

.banner-static
	height 420px
	width 100%
	background-size cover !important
	background-position center center !important
	background-repeat no-repeat !important
	@media (max-width: maxSm)
		height 210px

.homehaView
	.banner__slider__item__content
		padding 0
	.banner
		background haMainColor
			
.banner
	background hsMainColor
	position relative
	height 100vh
	.owl-nav,
	.owl-dots
		@media (max-width:maxSm)
			display none
	.owl-dots
		position absolute
		right 150px
		.owl-dot
			margin-bottom 25px
			width 13px
			height 13px
			border 1px solid #fff
			border-radius 50%
			&.active
				background #fff
			&:last-child
				margin-bottom 0
	.owl-prev,
	.owl-next
		top 0
		margin-top -33px
		width 38px
		height 67px
		background-image url('../../img/banner/arrows.png')
		background-repeat no-repeat
		position absolute
		
	.owl-prev
		background-position 0 0
		left 50px
	.owl-next
		background-position -83px 0
		right 50px
	&__slide
		width 100%
		height auto
	&__slider
		background-size cover
		&,
		&__item
			//height 1000px
			height 100vh
			width 100%
			box-sizing border-box
			overflow hidden
			background-size cover
			&__content
				width 630px
				height 100%
				margin 0 auto
				display table
				@media (max-width: maxSm)
					width 100%
				h1,
				h2
					padding 0
					margin 0
				h1
					font-size 130px
					color #fff
					text-align center
					font-family fontMuseo700
				h2
					line-height 0
					font-size 50px
					color hsMainColor
					text-align right
					margin-top -15px
				&__center
					display table-cell
					vertical-align middle
					@media (max-width: maxSm)
						width 100%
						height auto
						padding 0 30px
		.hsSobre
			background url('../../img/banner-sobre.jpg') no-repeat top center fixed
	&__box
		position absolute
		bottom 0
		z-index 10
		display none
		width 100%
		a:hover
			color inherit !important
		@media (max-width: maxSm)
			position relative
		&__item
			text-align center
			position relative
			align-self flex-end
			flex 1
			.size
				display block
			.sizeHover
				display none
			&:hover
				.size
					display none
					@media (max-width: maxSm)
						display block
				.sizeHover
					display block
					@media (max-width: maxSm)
						display none
			&__content
				position absolute
				top 0
				left 0
				width 100%
				height 100%
				z-index 10
				a
					@media (max-width: maxSm)
						position absolute
						top 0
						left 0
						width 100%
						height 100%
						display block
				&__logo
					padding 0 24%
					box-sizing border-box
					width 100%
				&__button
					display block
					margin 0 auto
					margin-top 30px
					display none
					width 50%
					@media(min-width: minMd) and (max-width: maxMd)
						width 65%
				&:hover
					.banner__box__item__content__button
						display block
						@media (max-width: maxSm)
							display none
				.h--table
					height inherit
			.size,
			.sizeHover
				width 100%
				height auto
				opacity 0
		.australia
			oAustralia(.85)
			oColorAustralia(.85)
			@media (max-width: maxSm)
				oAustralia(1)
				oColorAustralia(1)
		.canada
			oCanada(.85)
			oColorCanada(.85)
			@media (max-width: maxSm)
				oCanada(1)
				oColorCanada(1)
		.inglaterra
			oInglaterra(.85)
			oColorInglaterra(.85)
			@media (max-width: maxSm)
				oInglaterra(1)
				oColorInglaterra(1)
		.usa
			oUsa(.85)
			oColorUsa(.85)
			@media (max-width: maxSm)
				oUsa(1)
				oColorUsa(1)
	.slide
		background-repeat no-repeat
	  background-size cover
.home
	&.banner
		.banner__box
			display flex
		.banner__slider__content,
		.banner__slider__item__content
			height 733px
