.button
	&--default
		text-transform uppercase
		font-family fontMuseo700
		letter-spacing 1px
		padding 10px
		height 54px
		font-size 19px
		color #fff
		border 2px solid #fff
		background transparent
		line-height 22px
		transition .3s
		@media(min-width: minMd) and (max-width: maxMd)
			height 43px
			font-size 13px
		&:hover
			background #fff
			color inherit
	&--base
		//height = 43px
		height = 36px
		text-transform uppercase
		font-family fontMuseo500
		letter-spacing 1px
		padding 10px
		height height
		&--section
			height height
			position absolute
			z-index 10
			bottom -(height/2)
			display block
			width 100%
			button
				display block
				margin 0 auto
		&-big
			//height = 71px
			height = 57px
			@extend .button--base
			font-family fontMuseo500
			//font-size 26px
			font-size 23px
			//padding 25px 0
			padding 17px 0
			line-height 25px
			//width 257px
			width 230px
			height height

			&--section
				height height
				position absolute
				z-index 10
				bottom -(height/2)
				display block
				width 100%
				@media (max-width: maxSm)
					position relative
				button
					display block
					margin 0 auto
	&--gd
		&-hs1
			cor1 = #0979bf
			cor2 = #28acda
			gradiend(cor1,cor2)
			color #fff
		&-hs2
			cor1 = #0053a8
			cor2 = #006bb2
			gradiend(cor1,cor2)
			color #fff
		&-ha1
			cor1 = #ffb500
			cor2 = #ffcb00
			gradiend(cor1,cor2)
			color #fff

.hcgeral
	.button--base-big,
	.button--gd-ha1
		cor1 = hcColor_1
		cor2 = darken(hcColor_1, 20%)
		gradiend(cor1,cor2)

.hegeral
	.button--base-big,
	.button--gd-ha1
		cor1 = heColor_1
		cor2 = darken(heColor_1, 20%)
		gradiend(cor1,cor2)

.hugeral
	.button--base-big,
	.button--gd-ha1
		cor1 = huColor_1
		cor2 = darken(huColor_1, 20%)
		gradiend(cor1,cor2)
