.panel-group
  margin-bottom 90px
  .activebg
    background #f9f9f9
  .line
    height 1px
    background #aaa
    width 100%
    padding 0 30px
  .panel
    &:last-child
      .line
        height 0
    .arrow
      position absolute
      right 50px
      background url('../../img/collapse-arrow.png') no-repeat center
      transition transform .1s
      width 15px
      height 40px
      transition transform .1s
      background-size 100%
      transform rotate(90deg)
      @media (max-width: maxSm)
        right 15px
    .panel-heading.activebg
      .arrow
        transform rotate(-90deg)
    .panel-heading
      .arrow
        top 12px
      .panel-title
        padding 11px 60px
        margin 0
        @media (max-width: maxSm)
          padding 11px 0px
        a
          font-size 30px
          font-family fontMuseo700
          color #333
          @media (max-width: maxSm)
            font-size 24px
            padding 11px 0
            display block
    .panel-body
      font-size 16px
      line-height 26px
      background #f9f9f9
      .padding-wrapper
        padding 0 60px
        @media (max-width: maxSm)
          padding 0
      .wrapper-content
        padding 30px 0
        p
          margin-bottom 20px
      span
        background #006db8
        height 7px
        width 90px
        display block
        @media (max-width: maxSm)
          height titulomobileLineSpan
    &:last-child
      border 0
