.dropdownlang
	text-align left
	height 38px
	width 186px
	font-size 16px
	cursor pointer
	position relative
	left -32px
	a
		color #fff
	@media(min-width: minMd) and (max-width: maxMd)
		left 0
		float right
	@media (max-width: maxSm)
		left 0
		margin 0 auto
		margin-top 30px
	.bandeira-arrow
		background url('../../img/footer/arrow.png') no-repeat
		width 10px
		height 18px
		position absolute
		right 15px
		top 10px
	.bandeira
		background url('../../img/footer/bandeiras.jpg') no-repeat
		width 23px
		height 14px
		display inline-block
		position relative
		margin-right: 10px;
		top 1px
		&.america
			background-position 0 -45px
		&.brasil
			background-position 0 -30px
		&.colombia
			background-position 0 -16px
		&.peru
			background-position 0 0
	&__view
		background #00122a
		color #fff
		height 38px
		width 186px
		box-sizing border-box
		padding 9px 15px
		line-height 19.5px
		font-weight 700
		&__current
			//
	&__drop
		position absolute
		width 100%
		bottom 0
		display none
		left 0
		li
			position relative
			font-size 16px
			display block
			background #00122a
			height 38px
			font-weight 700
			box-sizing border-box
			padding 9px 15px
			border-bottom 1px solid #002e6d
			line-height 19.5px
			a
				color #fff
			&:last-child
				border-bottom 0

.open.dropdownlang
	.dropdownlang__drop
		display block
