.certificado
	background #f3f3f3
	padding 15px 0 20px
	h1
		font-size 15px
		font-family fontMuseo300
		font-weight normal
		color #888
		text-align center
		margin 0
	ul
		margin-top 8px
		li
			@media(min-width: minLg)
				margin-right 100px
			@media(min-width: minMd) and (max-width: maxMd)
				margin-right 70px
			@media(max-width: maxSm)
				margin-right 0
				width 45%
				height 70px
				margin-top 20px
				img
					width auto
			&:last-child
				margin-right 0
.footer
	background hsMainColor
	color #fff
	padding-bottom 14px
	.copy
		opacity 0.5
		font-size 10px
		line-height 30px
		position relative
		left 30px
		@media(min-width: minMd) and (max-width: maxMd)
			position relative
			top 5px
			left 156px
		@media (max-width: maxSm)
			text-align center
			line-height 20px
			left 0
	.newsletter
		padding 30px 20px 0
		text-align center
		.container
			margin-bottom -13px
			.row
				margin-bottom -10px
		form
			@media (max-width: maxSm)
				display flex
				width 100%

		span,
		&__box
			display inline-block
			@media (max-width: maxSm)
				display block

		span
			font-family fontMuseo300
			font-size 20px
			position relative
			top -13px
			margin-right 32px
			@media (max-width: maxSm)
				line-height 32px
				margin-right 0
				font-size 14px

		&__box
			border 2px solid hsColor_1
			input
				height 35px
				box-sizing border-box
				border 0
				outline 0
				float left
				&[type='text'],
				&[type='email']
					font-size 16px
					color #666
					padding 0 15px
					width 356px
					@media (max-width: maxSm)
						width auto
				&[type='email']
					@media(min-width: minMd) and (max-width: maxMd)
						width 256px
					@media (max-width: maxSm)
						flex 1
						padding 0 5px
				&[type='submit']
					border-radius 0
					font-size 16px
					background hsColor_1
					padding 0 22px
					text-transform uppercase
					color darken(hsMainColor, 25%)
					font-family fontMuseo700
					box-sizing border-box
					outline 2px solid hsColor_1
					position relative

					@media (max-width: maxSm)
						right 0
						font-size 12px
						padding 0
						border-left 4px solid hsColor_1
						border-right 4px solid hsColor_1
						// line-height 48px
		&__line
			margin-top 35px
			height 1px
			display block
			width 100%
			background darken(hsMainColor, 25%)
		&__box
			@media (max-width: maxXs)
				margin 0 -15px
	.logo
		text-align center
		img
			width 85px !important
		@media (min-width: minMd)
			position relative
			top 28px
	.logo,
	nav
		@media (max-width: maxSm)
			display block
	nav
		padding 8px 0 7px
		.h--txt-right
			@media (max-width: maxSm)
				text-align center
				margin 30px 0
		.menu
			padding 0 80px
			display inline
			@media(min-width: minMd) and (max-width: maxMd)
				padding 0 30px
			@media (max-width: maxSm)
				display block
				padding 0
			li

				font-weight 100
				margin-left 7px
				margin-right 22px
				@media(min-width: minMd) and (max-width: maxMd)
					margin-right 6px
				@media (max-width: maxSm)
					margin 0
					display block
					margin-bottom 10px
				&:last-child
					margin-right 0
				a
					font-size 14px
					font-weight 100
					color #fff
					&:hover
						color hsColor_1
		.social
			position relative
			top 2px
			li
				padding-right 10px
				@media(min-width: minMd) and (max-width: maxMd)
					padding-right 0
					padding-left 10px
