.gallery
	&--list
		position relative
		margin-top 30px
		@media(min-width: minMd) and (max-width: maxMd)
			.owl-carousel
				padding 0 60px
		.owl-nav
			margin 0
			height 0
			overflow hidden

		.owl-dots
			display none
		&__icon
			background url('../../img/arrows.png') no-repeat
			width 33px
			height 59px
			position absolute
			top 105px
			cursor pointer
		.iconprev
			background-position 0 0
			left -50px
			@media(min-width: minMd) and (max-width: maxMd)
				left 0
		.iconnext
			background-position -82px -1px
			right -50px
			@media(min-width: minMd) and (max-width: maxMd)
				right 0
