#curso
	width 60px
	height 60px
#acomodacao
	width 68px
	height 62px
#visto
	width 76px
	height 74px
#passagemAerea
	width 68px
	height 63px
#assistenciaViagem
	width 56px
	height 82px
#cartaoMultiMoeda
	width 69px
	height 53px

.icon
	&--social
		width 36px
		height 36px
		background-image url('../../img/social-sprite.png')
		background-repeat no-repeat
		display inline-block
		&-facebook
			@extend .icon--social
			background-position 0 0
		&-instagram
			@extend .icon--social
			background-position -50px 0
		&-twitter
			@extend .icon--social
			background-position -100px 0
		&-linkedin
			@extend .icon--social
			background-position -150px 0
	&--menu
		position relative
		transform rotate(0deg)
		transition .5s ease-in-out
		cursor pointer
		display inline-block
		//width 34px
		//height 28px
		width 31px
		height 25px
		span
			//height 5px
			height 4px
			display block
			position absolute
			width 100%
			background #fff
			border-radius 9px
			opacity 1
			left 0
			transform rotate(0deg)
			transition .25s ease-in-out
			&:nth-child(1)
				top 0px
			&:nth-child(2)
				top 10px
			&:nth-child(3)
				top 20px
		&-label
			font-family fontMuseo500
			text-transform uppercase
			position relative
			//font-size 18px
			//left 16px
			//left 6px
			font-size 16px
			top -8px
			left 7px
			cursor pointer
			letter-spacing 2px

.icon--menu.open
	span
		&:nth-child(1)
			top 10px
			transform rotate(135deg)

		&:nth-child(2)
			opacity 0
			left -10px

		&:nth-child(3)
			top 10px
			transform rotate(-135deg)
