.nav
	&--menu
		position fixed
		top 0
		width 100%
		left 0
		z-index 20
		&-height
			height 110px
			@media (max-width: maxSm)
				height 60px
		&-height-single
			height 158px

			@media (max-width: maxSm)
				height 60px
		&__hsbar,
		&__hsbar ul
			height 48px
		&__hsbar
			background #fff
			ul
				vertical-align middle
				display table-cell
				li
					vertical-align middle
					margin-right 25px
					&:first-child
						margin-right 40px
					&:last-child
						margin-right 0
					img
						position relative
						top 2px
					a
						font-size 13px
						font-weight 400
		&__bar
			transition .3s
			color #fff
			&,
			& .container,
			& .row,
			& .col-md-12
				height 110px
			&__icon
				height 27px
			.logo,
			.logomin
				position relative
				top 2px
				width auto
			.logomin
				display none
			.orcamento
				text-transform none
				color #000
				font-size 15px
				width 150px
				transition .3s
				&:hover
					transition .3s
					background transparent
			.dropdownlang
				position relative
				top 6px
				float right
				margin-left 22px
		&__drop
			color #fff
			font-size 18px
			padding 15px 0
			box-sizing border-box
			width 100%
			left 0
			top 0
			position absolute
			display none
			z-index -10
			padding-top 50px
			margin-top -35px
			@media(min-width: minMd) and (max-width: maxMd)
				font-size 15px
			ul
				display flex
				li
					flex 1
					text-align center
					a
						font-size 14px
						font-weight 300
						color #fff

//------------------------------------------------------------------------------------------------------------------------------------------
//------------------------------------------------------------------------------------------------------------------------------------------
//------------------------------------------------------------------------------------------------------------------------------------------
//------------------------------------------------------------------------------------------------------------------------------------------
.nav
	&--menu
		&__hsbar
			ul li a
				color #011e45
		&__bar
			background hsMainColor
			.orcamento
				background hsColor_1
				border 2px solid hsColor_1
				&:hover
					color hsColor_1
					border-color hsColor_1
		&__drop
			background darken(hsMainColor, 15%)
			ul li a
				&:hover,
				&.active
					color hsColor_1

//------------------------------------------------------------------------------------------------------------------------------------------
//------------------------------------------------------------------------------------------------------------------------------------------
//------------------------------------------------------------------------------------------------------------------------------------------
//------------------------------------------------------------------------------------------------------------------------------------------


.ha
	&.nav--menu
		.nav--menu__bar
			background haMainColor
		.orcamento
			background haColor_1
			border 2px solid haColor_1
			&:hover
				color haColor_1
				border-color haColor_1
		.nav--menu__drop
			background darken(haMainColor, 15%)

	&.nav--menu.single
		.nav--menu__drop
			li > span
				color haColor_1

.hc
	&.nav--menu
		.nav--menu__bar
			background hcMainColor
		.orcamento
			background hcColor_1
			border 2px solid hcColor_1
			&:hover
				color hcColor_1
				background transparent
				border-color hcColor_1
		.nav--menu__drop
			background darken(hcMainColor, 15%)

	&.nav--menu.single
		.nav--menu__drop
			li > span
				color hcColor_1

.he
	&.nav--menu
		.nav--menu__bar
			background heMainColor
		.orcamento
			background heColor_1
			border 2px solid heColor_1
			&:hover
				color heColor_1
				background transparent
				border-color heColor_1
		.nav--menu__drop
			background darken(heMainColor, 15%)

	&.nav--menu.single
		.nav--menu__drop
			li > span
				color heColor_1

.hu
	&.nav--menu
		.nav--menu__bar
			background huMainColor
		.orcamento
			background huColor_1
			border 2px solid huColor_1
			&:hover
				background transparent
				color huColor_1
				border-color huColor_1
		.nav--menu__drop
			background darken(huMainColor, 15%)

	&.nav--menu.single
		.nav--menu__drop
			li > span
				color huColor_1


//------------------------------------------------------------------------------------------------------------------------------------------
//------------------------------------------------------------------------------------------------------------------------------------------
//------------------------------------------------------------------------------------------------------------------------------------------
//------------------------------------------------------------------------------------------------------------------------------------------


.nav--menu__drop.open
	display block

.nav--menu__bar.scroll
	&,
	& .container,
	& .row,
	& .col-md-12
		height 75px
	.logo
		display none
	.logomin
		display inline-block

.ha.nav--menu
	.orcamento
		text-transform none
		color #000
		//font-size 16px
		//width 170px
		transition .3s
		&:hover
			transition .3s
			background transparent

.nav--menu.single
	.nav--menu__drop
		ul
			padding 20px 0 60px
		li
			text-align left
			& > span
				font-weight 600
				text-transform uppercase
				font-size 20px
				line-height 20px
				display block
				margin-bottom 20px
			ul
				display block
				padding 0
				li
					display block
					flex none
					margin-top 10px
					a
						color #fff
						font-size 16px

.nav-mobile-bar
	position fixed
	top 0
	left 0
	width 100%
	z-index 100
	&.hs
		background-color hsMainColor
	&.hc
		background-color hcMainColor
	&.he
		background-color heMainColor
	&.hu
		background-color huMainColor
	&.ha
		background-color haMainColor
.nav-mobile
	porcentagemOrcamento = 10%
	.hs
		&.bgcolor1
			background-color hsMainColor
		&.color1
			color hsMainColor
		&.bgcolor2
			background-color hsColor_1
		&.color2
			color hsColor_1
		.nav-mobile__orcamento
			background lighten(hsMainColor,porcentagemOrcamento)
			button
				background hsColor_1
		ul li ul li a
			background-color #19395f
	.ha
		&.bgcolor1
			background-color haMainColor
		&.color1
			color haMainColor
		&.bgcolor2
			background-color haColor_1
		&.color2
			color haColor_1
		.nav-mobile__orcamento
			background lighten(haMainColor,porcentagemOrcamento)
			button
				background haColor_1
		ul li ul li a
			background-color #1e82c7
	.hc
		&.bgcolor1
			background-color hcMainColor
		&.color1
			color hcMainColor
		&.bgcolor2
			background-color hcColor_1
		&.color2
			color hcColor_1
		.nav-mobile__orcamento
			background lighten(hcMainColor,porcentagemOrcamento)
			button
				background hcColor_1
		ul li ul li a
			background-color #ee4349
	.hu
		&.bgcolor1
			background-color huMainColor
		&.color1
			color huMainColor
		&.bgcolor2
			background-color huColor_1
		&.color2
			color huColor_1
		.nav-mobile__orcamento
			background lighten(huMainColor,porcentagemOrcamento)
			button
				background huColor_1
		ul li ul li a
			background-color #26719b
	.he
		&.bgcolor1
			background-color heMainColor
		&.color1
			color heMainColor
		&.bgcolor2
			background-color heColor_1
		&.color2
			color heColor_1
		.nav-mobile__orcamento
			background lighten(heMainColor,porcentagemOrcamento)
			button
				background heColor_1
		ul li ul li a
			background-color #d4262d

.nav-mobile
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	z-index 100
	display none
	&-bar
		height 60px
		display table
		.logo
			display table-cell
			vertical-align middle
			height inherit
			img
				margin 0 auto
				display block
				width auto
				height 40px
			&.logohs
				img
					height 22px
	&-open
		padding 17px
		display inline-block
		position absolute
		left 0
	&__close
		position absolute
		z-index 10
		color #fff
		right 30px
		top 70px
		font-size 30px
	&.active
		display block
	li.active
		.arrow
			transform rotate(-90deg)
	.arrow
		transform rotate(90deg)
		background-image url('../../img/mobile/arrows.png')
		background-repeat no-repeat
		width 14px
		height 21px
		position absolute
		right 20px
		top 5px
	.hs,
	.hu,
	.he,
	.hc,
	.ha
		overflow-y scroll
		height 53px
		//height inherit
	.hu
		.arrow
			background-position 0 0
	.he
		.arrow
			background-position -30px 0
	.hc
		.arrow
			background-position -60px 0
	.ha
		.arrow
			background-position -90px 0
	.hs
		.arrow
			background-position -120px 0
	.logo
		padding-top 20px
		margin 0 auto 33px
		display block
		height 126px
		width auto
	.menu
		display none
		padding-bottom 133px
	.menu.active
		display block
		height 100%
	&__menu
		background inherit
		& > li
			position relative
			ul
				display none
			&.active
				ul
					display block
			&:last-child
				margin-bottom 0
			&,
			& a
				color #fff
				font-size 21px
				display block
			.title
				display block
				padding 0 26px
				margin-top 12px
				margin-bottom 12px
				text-transform uppercase
				font-weight 500
			ul
				li
					display block
					border-bottom 1px solid transparent
					a
						padding 0 36px
						font-size 21px
						text-transform initial
						font-weight 300
						padding-top 5px
						padding-bottom 5px
	&__destinos
		larguraTotal = 650px

		background #fff
		box-sizing border-box
		overflow-x scroll
		position relative
		.hs,
		.ha,
		.he,
		.hc,
		.hu
			height 56px
			overflow hidden
		li
			line-height 30px
		.flag
			position absolute
			height 7px
			width larguraTotal
			background #fff
			z-index 5
			left 0
			&.top
				top 0
			&.bottom
				bottom 0
		ul
			//height 50px !important
			height auto !important
			height 100%
			width larguraTotal
			.main-logo
				padding 13px 17px
				font-size 16px
				line-height 19px
			li
				font-size 19px
				float left
				padding 13px
				position relative
				box-sizing border-box
				font-family fontMuseo700
				border-right 1px solid #ccc
				text-transform uppercase
				overflow hidden
				&.active
					.enable
						opacity 1
				&:last-child
					border-right 0
					overflow visible
					.enable
						width 150px
				.enable
					position absolute
					left 0
					top 0
					z-index 10
					width 100%
					height 100%
					color #fff
					opacity 0
					padding inherit
	&__orcamento
		box-shadow 0px 12px 20px 10px rgba(0,0,0,.5)
		position fixed
		bottom 0
		width 100%
		padding 20px 0
		text-align center
		a
			color #000
		button
			width 179px
			font-size 16px
