.paginacao
    &--botao
        margin-bottom 120px
        padding 0
        width 230px
        height 57px
        box-sizing initial
        transition .3s
        &.animated
            width 13px
            height 13px
