.quadro
	position relative
	& > img
		width 100%
		height auto
		display block
	.banner__box
		display block
		top 0
		&__item
			width 50%
			display block
			float left
			height 50%
			&__content
				&__button
					width 60%
					font-family fontMuseo500