.section--ha
	&.section--default .title span,
	&.section--text .title span
				background hsColor_2
.section
	&--default
		.title
			margin-top 42px
			h1
				color #333
				//font-size 82px
				font-size 50px
				letter-spacing 3px
				margin 0
				padding 0
				@media (max-width: maxSm)
					font-size titulomobile
					line-height titulomobileLineHeight
			span
				//width 172px
				//height 11px
				width 130px
				height 7px
				background hsColor_1
				display block
				margin-top 6px
				@media (max-width: maxSm)
					width 132px
					height 6px
	&--text
		//padding-bottom 30px
		a
			color #006db8
			font-weight bold
		.size-full.alignnone
			width 100%
			height auto
		.alignright,
		.alignleft
			box-sizing initial
			padding 30px
		.alignright
			padding-right 0
			float right
		.alignleft
			padding-left 0
			float left
		.title
			margin-top 42px
			h1
				color #333
				//font-size 82px
				font-size 50px
				letter-spacing 3px
				margin 0
				padding 0
				@media (max-width: maxSm)
					font-size titulomobile
			span
				//width 172px
				//height 11px
				width 130px
				height 7px
				background hsColor_1
				display block
				margin-top 6px
				@media (max-width: maxSm)
					width 132px
					height 6px
		.content
			&-padding
				padding 20px 60px 0
				@media (max-width: maxSm)
					padding 20px 0 0
				p
					//margin 0 0 35px
					margin 0 0 30px
					//font-size 19px
					font-size 16px
					line-height 26px
			p
				//margin 0 0 35px
				margin 0 0 30px
				//font-size 19px
				font-size 16px
				line-height 26px
