percent = 10%
.aaustraliaView
  .ha-aaustralia-detalhes
    cor2 = haMainColor
    cor1 = lighten(cor2, percent)
    background cor1
    background linear-gradient(45deg,cor1 20%,cor2 50%)
.hcgeral
  .aaustraliaView
    .ha-aaustralia-detalhes
      cor2 = hcMainColor
      cor1 = lighten(cor2, percent)
      background cor1
      background linear-gradient(45deg,cor1 20%,cor2 50%)
.hugeral
  .aaustraliaView
    .ha-aaustralia-detalhes
      cor2 = huMainColor
      cor1 = lighten(cor2, percent)
      background cor1
      background linear-gradient(45deg,cor1 20%,cor2 50%)
.hegeral
  .aaustraliaView
    .ha-aaustralia-detalhes
      cor2 = heMainColor
      cor1 = lighten(cor2, percent)
      background cor1
      background linear-gradient(45deg,cor1 20%,cor2 50%)

.aaustraliaView
  .ha-aaustralia-detalhes
    color #fff
    height 350px
    position relative
    .cidadeDetalheImage
      background-size cover
      background-position center
      height 350px
      width 800px
      position absolute
      right 0
      top 0
      @media (max-width: maxSm)
        display none
    .cidadeDetalhe
      font-size 16px
      display table-cell
      vertical-align middle
      height 350px
      line-height 30px
