.acamodacoesView
  .gray
    background #f1f5f7
  .title
    h1
      font-size 50px
      @media (max-width: maxSm)
        font-size titulomobile
        line-height titulomobileLineHeight
    span
      width 91px
      height 8px
      @media (max-width: maxSm)
        height titulomobileLineSpan
  .ha-acomodacoes-homestay,
  .ha-acomodacoes-sharehouse
      span
        background #006db8
