.cidadeshaView
  .ha-cidades
    .title
      margin-bottom 100px
    .items
      .center
        margin 0 auto
        display block
      .left,
      .right
        display inline-block
      .left
        float left
      .right
        float right
      .left,
      .right
        @media (max-width: maxSm)
          float none 
      .item
        margin-bottom 61px
        width 285px
        button
          margin-top 30px
          padding 12px
          height 46px
          font-size 16px
          width 157px
        @media (max-width: maxSm)
          width 100%
      .line
        background #999
        height 1px
        clear both
        display block
        margin-bottom 61px

.cidadesSingleView
  .ha-single-cidades-historia,
  .ha-single-cidades-religiao,
  .ha-single-cidades-atracoes
    .title
      span
        background #006db8
  .gray
    background #f1f5f7
  .orcamento
    background url('../../img/ha/cidades/orcamento.jpg') no-repeat;
    background-size cover
    height 198px
  .button--base-big
    display block
    margin 70px 0
    width 375px
    font-size 22px
    height 63px
    padding 21px 0
