.servicoshaView
  .ha-servicos
    margin-bottom 10px
    .title
      margin-bottom 60px
  .ha-servicos-items
    .items
      .color
        background #f1f5f7
      li
        width 100%
      .item
        padding 40px 0
        display flex
        &-img
          img
            width auto
        &-content
          float left
          h2
            margin 0
            margin-top -10px
            font-size 28px
            font-family fontOpenSans
          p
            font-size 18px
            line-height 30px
        img
          padding 0 50px 0 36px
