.promocoesSection .title span
    background haColor_1
.hcgeral
  .travelSection
    display none
  .homehaView
    .promocoesSection .title span
      background hcColor_1
    .onde-voce-quer-estudarSection
      .carouselList
        button
            background hcColor_1
        .item
          background darken(hcMainColor, 30%)
          .button-wrap
            button
              background hcMainColor !important
    .promocoesSection
        .title a
            color hcColor_1
            border-bottom 2px solid hcColor_1

        .promocoesinterhaView .ha-promocoesintercambio .items .item
            .valor
                color hcColor_1
        .promocoesBg
            &--light
                background hcMainColor
            &--dark
                background darken(hcMainColor,80%)
.hegeral
  .travelSection
    display none
  .homehaView
    .promocoesSection .title span
      background heColor_1
    .onde-voce-quer-estudarSection
      .carouselList
        button
            background heColor_1
        .item
          background darken(heMainColor, 30%)
          .button-wrap
            button
              background heMainColor !important
    .promocoesSection
        .title a
            color heColor_1
            border-bottom 2px solid heColor_1

        .promocoesinterhaView .ha-promocoesintercambio .items .item
            .valor
                color heColor_1
        .promocoesBg
            &--light
                background heMainColor
            &--dark
                background darken(heMainColor,80%)
.hugeral
  .travelSection
    display none
  .homehaView
    .promocoesSection .title span
      background huColor_1
    .onde-voce-quer-estudarSection
      .carouselList
        button
            background huColor_1
        .item
          background darken(huMainColor, 30%)
          .button-wrap
            button
              background huMainColor !important
    .promocoesSection
        .title a
            color huColor_1
            border-bottom 2px solid huColor_1

        .promocoesinterhaView .ha-promocoesintercambio .items .item
            .valor
                color huColor_1
        .promocoesBg
            &--light
                background huMainColor
            &--dark
                background darken(huMainColor,80%)
.homehaView
  .onde-voce-quer-estudarSection
    .center
      text-align center
      @media (max-width: maxSm)
        overflow hidden
    .title
      margin-bottom 68px
      display inline-block
      h1
        font-size 50px
        @media (max-width: maxSm)
          font-size titulomobile
          line-height titulomobileLine
          text-align left
      span
        margin-top 14px
    .carouselList
      position relative
      @media(min-width: minMd) and (max-width: maxMd)
        padding 0 55px
      .owl-dots
        display none
      .icon
        position absolute
        top 50%
        margin-top -33px
        cursor pointer
      .iconprev
        left -60px
        @media(min-width: minMd) and (max-width: maxMd)
          left -10px
      .iconnext
        right -60px
        @media(min-width: minMd) and (max-width: maxMd)
          right -10px
      .item
        position relative
        background #003258
        .button-wrap
          padding 0 40px
          button
            background #2fb4e3
            width 100%
            color #fff
            font-size 17px
            height 50px
        &:hover
          img
            opacity .2
          .hover
            margin-top 0
            top 0
            p
              opacity 1
        .hover
          position absolute
          top 100%
          left 0
          width 100%
          height 100%
          z-index 10
          color #fff
          text-align center
          padding 60px 40px
          margin-top -125px
          transition .3s
          img
            opacity 1
          h1
            margin 0
            font-family fontMuseo500
            font-size 27px
            letter-spacing 3px
            line-height 40px
            @media(min-width: minMd) and (max-width: maxMd)
              font-size 25px
          p
            font-size 16px
            line-height 22px
            margin 10px 0 23px
            opacity 0
    button
      display block
      margin 60px auto
      width 272px
      font-size 22px
      height 63px
      padding 21px 0
  .promocoesSection
    height 536px
    position relative
    @media (max-width: maxSm)
      height auto
      padding-bottom 30px
    button
      margin 0
    .promocoesinterhaView
      .ha-promocoesintercambio
        .items
          .item
            button
                line-height 0
            .valor
              color #23deff
    .promocoesBg--light,
    .promocoesBg--dark
      position absolute
      width 50%
      height 100%
      opacity .9
      z-index 0
      @media (max-width: maxSm)
        width 100%
    .promocoesBg--light
      background #006db8
      left 0
    .promocoesBg--dark
      background #001524
      right 0
      @media (max-width: maxSm)
        display none
    .title
      h1
        color #fff
        font-size 70px
        margin 90px 0 -15px
        @media (max-width: maxSm)
          font-size 50px
      span
        display block
        width 130px
        height 7px
        margin-top 14px
        margin-bottom 36px
        display block
    pre
      color #fff
      font-size 22px
      line-height 38px
      margin 25px 0
      @media (max-width: maxSm)
        margin 0
        font-size 18px
        margin-bottom 25px
        font-size 18px
        line-height 28px
        text-align center
    .title
      a
        color haColor_1
        text-transform uppercase
        font-weight 700
        font-size 28px
        border-bottom 2px solid haColor_1
        @media (max-width: maxSm)
          font-size 18px
    .info
      color #fff
      font-size 18px
      h1
        font-family fontOpenSans
        font-size 28px
        line-height 26px
        margin 0
        margin-top 50px
  .pensando-em-ir-para-a-australiaSection
    background #f1f5f7
    padding 100px 0 150px
    @media (max-width: maxSm)
      padding 30px 0
    iframe
      width 100%
      height 361px
      @media (max-width: maxSm)
        height 250px
    .info
      padding-left 40px
      @media (max-width: maxSm)
        padding-left 0
    .title
      margin 0
      h1
        font-size 50px
        line-height 55px
        position relative
        top -3px
        margin 0
        margin-top 45px
        @media (max-width: maxSm)
          font-size titulomobile
          line-height titulomobileLine
          top 0
          margin-top 30px
      span
        margin 36px 0 42px
    p
      font-size 24px
      margin 0

  .conheca-outros-destinosSection
    padding-bottom 0px
    height 450px
    .title
      margin-top 0
      position relative
      top 120px
      h1
        font-size 50px
        line-height 55px
        margin 0
        @media (max-width: maxSm)
          font-size titulomobile
          line-height titulomobileLine
        p
          margin inherit
          line-height inherit
          font-size inherit
      span
        margin 26px 0 42px
        background #006db8
    .outrospaises
      position relative
      .banner__box
        h = 388px
        hmd = 300px
        hxs = 100px
        position absolute
        display flex
        top 75px
        left 0
        //width 950px
        //height h
        //@media(min-width: minMd) and (max-width: maxMd)
        width auto
        height hmd
        @media (max-width: maxSm)
          height hxs
          width auto
        .banner__box__item
          height hmd
          &:hover
            //height h+30
            //@media(min-width: minMd) and (max-width: maxMd)
            height hmd
            &:hover
              height hmd+30
          @media (max-width: maxSm)
            height hxs
        .banner__box__item
          .bgcolor
            width 100%
            height 100%
            position absolute
            top 0
            left 0
            z-index -10
        .banner__box__item.australia
          background url('../../img/ha/home/ha.jpg') no-repeat center center
          background-size cover
        .banner__box__item.canada
          background url('../../img/ha/home/hc.jpg') no-repeat center center
          background-size cover
        .banner__box__item.inglaterra
          background url('../../img/ha/home/he.jpg') no-repeat center center
          background-size cover
        .banner__box__item.usa
          background url('../../img/ha/home/hu.jpg') no-repeat center center
          background-size cover
      .banner__box__item__content__button
        width 60%
      .banner__box__item__content__logo
        padding 0 18%
  .hidecountry
    display none
  .travelSection
    margin-bottom 110px
    img
      width 100%
      height auto
