.orcamentopassagenshaView
  .orcamentopassagensSection
    .iframeform
      height 1000px
    .title
      h1
        font-size 59px
        @media (max-width: maxSm)
          font-size 30px
      span
        background #006db8
    .form-content
      position relative
      .mask-iframe-title
        background #fff
        position absolute
        height 70px
        width 100%
        top 0
        left 0
        @media (max-width: maxSm)
          display none
