.parceirosView
  .ha-parceiros-escolas
    margin-bottom 90px
  .ha-parceiros-parceiros
    .title
      span
        background #006db8
  .ha-parceiros-marcas
    .paises
      .pais
        .title
          margin 120px 0 60px
          h1
            font-size 45px
            margin 0
          span
            margin-top 7px
            width 110px
            height 5px
            display block
          .au
            background australiaMainColor
          .ca
            background canadaMainColor
          .en
            background inglaterraMainColor
          .eu
            background usaMainColor
        .marcas
          margin-top 90px
          .marca
            width 175px
            height 175px
            outline 1px solid #939393
            margin-right 10px
            margin-bottom 9px
            &:last-child
              margin-right 0
            .h--table
              padding 22px
              box-sizing border-box
              height inherit
              width inherit
              box-sizing border-box
              img
                width 100%
                height auto
