.promocoesinterhaView
  .ha-promocoesintercambio
    .texto
      text-align center
      padding-bottom 60px
      font-size 11px
    .title
      margin-bottom 90px
    .items
      .line
        background #999
        height 1px
        clear both
        display block
        //margin-bottom 83px
        margin-bottom 61px
      .left
        float left
        margin-left 50px
        @media(min-width:minMd) and (max-width:maxMd)
          float none
          margin-left 0
        @media (max-width: maxSm)
          margin-left 0
          float none
      .right
        float right
        //margin-right 50px
        @media(min-width:minMd) and (max-width:maxMd)
          float none
          margin-right 0
        @media (max-width: maxSm)
          float none
          margin-right 0
      .item
        padding-left 43px
        &:last-child
          .line
            display none
        @media (min-width: minMd)
          .image
            max-width 444px
          h1,
          .content,
          .valor,
          .detalhe
            width 400px
        @media (max-width: maxSm)
          padding-left 0
        .image
          position relative
          left -43px
          @media (max-width: maxSm)
            left 0
            width 100%
        img
          //
        h1
          margin-top 30px
          margin-bottom 0
          @media (max-width: maxSm)
            font-size 22px
        button
          width 310px
          font-size 19px
          height 52px
          padding 16px 0
          margin 10px 0 60px
          @media (max-width: maxSm)
            margin 10px auto 60px
            display block
        .content
          font-size 15px
          p
            margin-bottom 10px
          strong
            font-size 18px
          ul
            margin-left 20px
            li
              display list-item
              list-style disc
        .valor
          color #006db8
          font-size 72px
          font-weight 700
          @media (max-width: maxSm)
            font-size 46px
            margin-top 10px

          .moeda
            font-size 50px
            @media (max-width: maxSm)
              font-size 26px

          .cents
            font-size 38px
            position relative
            top -25px
            @media (max-width: maxSm)
              top -14px
              font-size 26px
          .ast
            font-size 23px
            position relative
            top -34px
            @media (max-width: maxSm)
              top -26px
              font-size 26px
        .parcelas
          line-height 30px
          strong
            display block
            font-weight 700
        .detalhe
          ul
            margin 30px 0
            li
              display list-item
              font-size 12px
              text-overflow ellipsis
              white-space nowrap
              line-height 14px
              @media (max-width: maxSm)
                white-space initial
                font-size 10px
