.servicoshaView
  .ha-servicos
    margin-bottom 10px
    .title
      margin-bottom 60px
  .ha-solicite-um-orcamento
    padding 70px
    text-align center
    button
      width auto
      padding 0 40px
  .ha-servicos-items
    .items
      .color
        background #f1f5f7
      li
        width 100%
      .item
        padding 40px 0
        display flex
        @media (max-width: maxSm)
          display block
        &-img
          img
            width auto
          @media (max-width: maxSm)
            text-align center
            margin-bottom 40px
        &-content
          float left
          h2
            margin 0
            margin-top -10px
            font-size 28px
            font-family fontOpenSans
            @media (max-width: maxSm)
              font-size 22px
              line-height 27px
          p
            font-size 18px
            line-height 30px
        img
          padding 0 50px 0 36px
          @media (max-width: maxSm)
            padding 0 10px 0 0
