@font-face {
    font-family: 'Museo 300';
    src: url('../../font/Museo300-Regular-webfont.eot');
    src: url('../../font/Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/Museo300-Regular-webfont.woff2') format('woff2'),
         url('../../font/Museo300-Regular-webfont.woff') format('woff'),
         url('../../font/Museo300-Regular-webfont.ttf') format('truetype'),
         url('../../font/Museo300-Regular-webfont.svg#museo300') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo 500';
    src: url('../../font/Museo500-Regular-webfont.eot');
    src: url('../../font/Museo500-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/Museo500-Regular-webfont.woff2') format('woff2'),
         url('../../font/Museo500-Regular-webfont.woff') format('woff'),
         url('../../font/Museo500-Regular-webfont.ttf') format('truetype'),
         url('../../font/Museo500-Regular-webfont.svg#museo500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo 700';
    src: url('../../font/Museo700-Regular-webfont.eot');
    src: url('../../font/Museo700-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/Museo700-Regular-webfont.woff2') format('woff2'),
         url('../../font/Museo700-Regular-webfont.woff') format('woff'),
         url('../../font/Museo700-Regular-webfont.ttf') format('truetype'),
         url('../../font/Museo700-Regular-webfont.svg#museo700') format('svg');
    font-weight: normal;
    font-style: normal;
}
