*
	font-smooth antialiased
	&::selection
		color #009ac7
		background transparent

body
	font-family fontOpenSans
	padding 0
	margin 0
	font-size 14px
	line-height 1.42857143
	letter-spacing 1px
	font-weight 300

ul,
li
	padding 0
	margin 0

li
	list-style none
	display inline-block

a
	color inherit
	text-decoration none

h1
	font-family fontMuseo700

h2,
h3,
h4,
h5,
h6
	font-family fontMuseo300

button,
input[type="submit"]
	font-family fontMuseo500
	border 0
	border-radius 50px
	box-sizing border-box
	text-align center
	line-height 0

button,
textarea,
select,
input
	&:focus
		outline 0


pre
	font-size inherit
	font-family inherit
	line-height inherit
	letter-spacing inherit
	overflow hidden
	margin 0
	padding 0
