.h
	&--txt-left
		text-align left
	&--txt-right
		text-align right
	&--txt-center
		text-align center
	&--flex
		display flex
	&--flex-center
		display flex
		align-items center
		justify-content center
	&--flex-col
		flex 1
	&--clear
		clear both
	&--table
		width 100%
		display table
	&--table-cell
		display table-cell
		vertical-align middle
	&--inlineBlock
		display inline-block
	&--block
		display block
	&--relative
		position relative
	&--no-scroll
		overflow hidden

.img-response
	width 100%
	height auto

.leiamais
	color #0768a2
	font-size 19px
	border-bottom 2px solid #0768a2
	padding-bottom 1px
