//fonts
fontHelveticaNeueLight = "Helvetica Neue Light", Helvetica, Arial, sans-serif
fontHelveticaNeue = "Helvetica Neue", Helvetica, Arial, sans-serif
fontHelveticaNeueBold = "Helvetica Neue Bold", Helvetica, Arial, sans-serif
fontOpenSans = "Open Sans", sans-serif
fontMuseo300 = "Museo 300", Helvetica, Arial, sans-serif
fontMuseo500 = "Museo 500", Helvetica, Arial, sans-serif
fontMuseo700 = "Museo 700", Helvetica, Arial, sans-serif


titulomobile = 32px
titulomobileLineHeight = 35px
titulomobileLine = 35px
titulomobileLineSpan = 6px

//color
//colorAzulMarinho_1 = #07274f
colorAzulMarinho_1 = #062142
colorAmarelo_1 = #ffdd00
colorAmarelo_2 = #fee900
colorAzulClaro_1 = #006db8

//configs
hsMainColor = colorAzulMarinho_1
hsColor_1 = colorAmarelo_1

haMainColor = colorAzulClaro_1
haColor_1 = colorAmarelo_2

hcMainColor = #e20f16
hcColor_1 = #ffab1a

huMainColor = #005a8c
huColor_1 = #ff9921

heMainColor = #c4080f
heColor_1 = #ff9921

//-------------

australiaMainColor = #006eb7
canadaMainColor = #e20f16
inglaterraMainColor = #c4080f
usaMainColor = #005a8c


australiaMainRGBColor = 0, 110, 183
canadaMainRGBColor = 226, 15, 22
inglaterraMainRGBColor = 196, 8, 15
usaMainRGBColor = 0, 90, 140

minLg = 1200px
maxMd = 1199px
minMd = 992px
maxSm = 991px
minSm = 768px
maxXs = 767px

//@media (min-width: minSm) and (max-width: maxSm)

oAustralia(n)
	background-color rgba(australiaMainRGBColor, n)

oCanada(n)
	background-color rgba(canadaMainRGBColor, n)

oInglaterra(n)
	background-color rgba(inglaterraMainRGBColor, n)

oUsa(n)
	background-color rgba(usaMainRGBColor, n)

oColorAustralia(n)
	color rgba(australiaMainRGBColor, n)

oColorCanada(n)
	color rgba(canadaMainRGBColor, n)

oColorInglaterra(n)
	color rgba(inglaterraMainRGBColor, n)

oColorUsa(n)
	color rgba(usaMainRGBColor, n)

gradiend(cor1,cor2)
	background cor1
	background -moz-linear-gradient(45deg,  cor1 0%, cor2 100%)
	background -webkit-linear-gradient(45deg,  cor1 0%,cor2 100%)
	background linear-gradient(45deg,  cor1 0%,cor2 100%)
